<style>

</style>
<div class="donationSettingsView">

    <div class="ui grid">
        <div class="re sixteen wide column">
            <div class="" style="background: rgba(255,255,255,.8);padding: 10px;">
                <h4>
                    Donation Setting <i class="cogs icon"></i>
                </h4>
            </div>


            <div class="" style="background: rgba(255,255,255,.8);padding: 10px; margin-top: 10px;">
                <div class="ui grid">

                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>