<style>

</style>
<div class="usersView">

    <div class="ui grid">
        <div class="re sixteen wide column">
            <div class="" style="background: rgba(255,255,255,.8);padding: 10px;">
                <h3>
                    Users
                </h3>
            </div>


            <div class="" style="background: rgba(255,255,255,.8);padding: 10px;text-align: right;margin-top: 10px;">
                <button class="addUserButton ui mini green basic button">
                    <i class="plus icon"></i> Add User
                </button>
            </div>


            <div class="" style="background: rgba(255,255,255,.8);padding: 10px;margin-top: 10px;">
                <table class="ui basic striped table">
                    <thead>
                        <th>
                            No
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Blood Type
                        </th>
                        <th>
                            Position
                        </th>
                        <th>
                            Added
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            View
                        </th>
                    </thead>
                    <tbody class="usersList">

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<!-- add user modal  -->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Add User
    </div>

    <div class="" style="padding: 1em;">
        <form class="ui form" id="addUserForm">
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input type="text" name="fname" id="fname" placeholder="John/Jane" required>
                </div>

                <div class="field">
                    <label>Last Name</label>
                    <input type="text" name="lname" id="lname" placeholder="Doe" required>
                </div>
            </div>


            <div class="two fields">
                <div class="field">
                    <label>Email</label>
                    <input type="email" name="email" id="email" placeholder="abc@example.com" required>
                </div>

                <div class="field">
                    <label>Phone</label>
                    <input type="tel" name="phone" id="phone" placeholder="07100900890" required>
                </div>
            </div>


            <div class="two fields">
                <div class="field">
                    <label>Town</label>
                    <input type="text" name="town" id="town" placeholder="Nairobi" required>
                </div>

                <div class="field">
                    <label>County</label>
                    <select name="county" id="county" required>
                        <option value="">Select County</option>

                        <option value='Baringo'>Baringo</option>
                        <option value='Bomet'>Bomet</option>
                        <option value='Bungoma'>Bungoma</option>
                        <option value='Busia'>Busia</option>
                        <option value='Elgeyo Marakwet'>Elgeyo-Marakwet</option>
                        <option value='Embu'>Embu</option>
                        <option value='Garissa'>Garissa</option>
                        <option value='Homa Bay'>Homa Bay</option>
                        <option value='Isiolo'>Isiolo</option>
                        <option value='Kajiado'>Kajiado</option>
                        <option value='Kakamega'>Kakamega</option>
                        <option value='Kericho'>Kericho</option>
                        <option value='Kiambu'>Kiambu</option>
                        <option value='Kilifi'>Kilifi</option>
                        <option value='Kirinyaga'>Kirinyaga</option>
                        <option value='Kisii'>Kisii</option>
                        <option value='Kisumu'>Kisumu</option>
                        <option value='Kitui'>Kitui</option>
                        <option value='Kwale'>Kwale</option>
                        <option value='Laikipia'>Laikipia</option>
                        <option value='Lamu'>Lamu</option>
                        <option value='Machakos'>Machakos</option>
                        <option value='Makueni'>Makueni</option>
                        <option value='Mandera'>Mandera</option>
                        <option value='Marsabit'>Marsabit</option>
                        <option value='Meru'>Meru</option>
                        <option value='Migori'>Migori</option>
                        <option value='Mombasa'>Mombasa</option>
                        <option value="Murang'a">Murang'a</option>
                        <option value='Nairobi'>Nairobi City</option>
                        <option value='Nakuru'>Nakuru</option>
                        <option value='Nandi'>Nandi</option>
                        <option value='Narok'>Narok</option>
                        <option value='Nyamira'>Nyamira</option>
                        <option value='Nyandarua'>Nyandarua</option>
                        <option value='Nyeri'>Nyeri</option>
                        <option value='Samburu'>Samburu</option>
                        <option value='Siaya'>Siaya</option>
                        <option value='Taita-Taveta'>Taita-Taveta</option>
                        <option value='Tana River'>Tana River</option>
                        <option value='Tharaka-Nithi'>Tharaka-Nithi</option>
                        <option value='Trans Nzoia'>Trans Nzoia</option>
                        <option value='Turkana'>Turkana</option>
                        <option value='Uasin Gishu'>Uasin Gishu</option>
                        <option value='Vihiga'>Vihiga</option>
                        <option value='West Pokot'>West Pokot</option>
                        <option value='wajir'>wajir</option>

                    </select>
                </div>
            </div>


            <div class="two fields">
                <div class="field">
                    <label>Weight (Kgs)</label>
                    <input type="number" name="weight" id="weight" placeholder="67" required>
                </div>

                <div class="field">
                    <label>Height (Cm)</label>
                    <input type="number" name="height" id="height" placeholder="179" required>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>D.O.B</label>
                    <input type="date" name="dob" id="dob" placeholder="2000-01-01" required>
                </div>

                <div class="field">
                    <label>Gender</label>
                    <select name="gender" id="gender" required>
                        <option value="">Select Gender</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                        <option value="O">Other</option>
                    </select>
                </div>
            </div>

            <div class="two fields">
                <div class="field">
                    <label>Position</label>
                    <select name="position" id="position" required>
                        <option value="">Select Position</option>
                        <option value="Admin">Admin</option>
                        <option value="Manager">Manager</option>
                        <option value="Volunteer">Volunteer</option>
                    </select>
                </div>

                <div class="field">
                    <label>Blood Type</label>
                    <select name="bloodType" id="bloodType" required>
                        <option value="">Select Blood Type</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>

                    </select>
                </div>
            </div>


            <div class="field" style="text-align: center;padding-top: 2em;">
                <button class="ui basic purple button addUserBtn">
                    <i class="plus icon"></i> Add User
                </button>
            </div>


        </form>
    </div>

</div>
<!-- add user modal  -->


<script>


    getUsers();

    // when add user button is clicked 
    $('.addUserButton').click(() => {

        // show the modal 

        $('.ui.modal').modal('show');
    })

    // when the form is submitted 
    $('#addUserForm').submit((e) => {

        e.preventDefault();

        let newUserData = $('#addUserForm').serialize();

        $('.addUserBtn').addClass('loading');

        $.post('server/addUser.php', newUserData, (data) => {

            alert(data);

            $('#addUserForm').trigger('reset');

            getUsers();
        })
    })

    function getUsers() {

        $.post('server/getUsers.php', (data) => {

            // console.log(data);
            let users = JSON.parse(data);


            let counter = 0;

            $('.usersList').empty();

            for (let i = 0; i < users.length; i++) {

                // append the rows on the tbody
                $('.usersList').append('<tr class="users_row' + i + '"/>');

                // css
                $('.users_row' + i).css({ cursor: 'pointer' });

                // create the holder var
                let colData = "";

                // create the for in vars
                let dataKey;

                // for in loop for the columns
                for (dataKey in users[i]) {

                    // append the columns
                    $('.users_row' + i).append('<td class="users_col' + counter + '"/>');


                    // put the data in the colums
                    $('.users_col' + counter).html(users[i][dataKey]);

                    // increment the data
                    counter++;
                }

            }
        })
    }

</script>